*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #FFEEE3 !important;
}
.navbar-brand img{
    width: 40%;
}
#div-header-img{
    background-image: url(./Photo/image-header\ 1.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 45px;
}
#div-header-img h1{ 
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 0 30px; */
    text-align: center;
}
#section-about{
    background-color: #FFEEE3;
} 
#section-about h2{
    margin-top: 45px;
    text-align: center;
    font-weight: bold;
    font-family: 45px;
}
#section-about p{
    font-size: 24px;
    margin: 40px 100px 20px 100px;
}
#About-img img{
    width: 600px;
}
#visit-rooms{
    margin: 45px 0px;
    background-image: url(./Photo/visit\ rooms\ 1.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
#visit-rooms h1{
    color: white;
    position: absolute;
    font-size: 45px;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#visit-rooms div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#button-visit-rooms{
    position: absolute;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-141%, 70%);
    width: 310px;
    background-color: transparent;
    border: solid;
    border-color: white ; 
}
#button-visit-rooms:hover{
    opacity: 1 !important;
    background-color:#ECCAB5 ;
}
#section-garden{
    background-color: #FFEEE3;
    padding: 40px;
}
#section-garden h2{
    text-align: center;
    font-weight: bold;
    font-family: 45px;
    margin: 20px 0px;
}
#section-garden p{
    font-size: 24px;
    margin: 0px 35px 30px 35px;
}
.galleri{
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
}
.galleri div{
    width: 30%;
}
.galleri img{
    width: 100%;
    height: 300px;
}
#section-background{
    background-image: url(./Photo/image\ background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* height: 700px; */
    margin: 45px 0px;
    position: relative;
}
#section-background h1{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    text-align: center;
}
