.check-All{
    background-color: #ECCAB5;
    padding: 10px;
    width: 15%;
    margin: 45px 0px;
}
.check-All button{
    background-color: transparent;
}
#section{
    background-color: #ECCAB5;
}