.check-All{
    background-color: #ECCAB5;
    padding: 10px;
    width: 15%;
    margin-bottom: 45px;
}
.check-All button{
    background-color: transparent;
}
.row{ 
    background-color: #ECCAB5;
    margin-right: 0px !important;
    margin-left: 0px !important ;
    margin-bottom: 45px;
    /* padding: 48px 0px; */
}
.card{
    margin: 0 auto;
}
.imgcard{
    /* width: 30%; */
    text-align:center;
    margin: 30px 0px;
    position: relative;
}
h3{
    font-size: 20px;
    text-align: center;
}
.card-button{
    position: absolute;
    bottom: 0px;
    text-align: center;
    transform: translate(77%, -50%) !important;

}
.btn{
    background-color:#ECCAB5 ;
    font-weight: bold;
    transition: 1s;
    text-decoration: none;
}
.btn:hover{
    background-color: #000000;
    color: white;
}