#detail-img{
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 45px;
    border:2px solid gray;
}
section{
    background-color: #FFEEE3;
    margin-bottom: 45px;
    padding-bottom: 40px;
}
#list li {
    list-style-type: none;

}
.div-submit-btn{
    text-align: center;
}
.div-submit-btn .btn{
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}
ul{
    /* margin-left: 40px; */
    margin: 0px 168px 30px 168px ;
}
li span{
    font-weight: bold;
    font-size: 20px;
}
.gallery{
    margin-left: 100px;
}